@import url("https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$bodybasecolor: #0109de;
$basefontfamily: "Lilex", sans-serif;
$linkfontfamily: "Lilex", sans-serif, weight 100;

a {
  text-decoration: none;
  color: inherit;
  font-family: $linkfontfamily;
}

ul {
  list-style: none;
  display: inline-flex;
  gap: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  background-color: $bodybasecolor;
  color: white;
  font-family: $basefontfamily;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

header div {
  white-space: nowrap;
}
main {
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.loading {
  animation: dots 1.5s infinite steps(4);
}

@keyframes dots {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
  100% {
    content: "Loading";
  }
}

.loading::after {
  content: "Loading";
  animation: dots 1.5s infinite steps(4);
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
  padding: 20px;
}

nav {
  display: none;
}
